In [1]:
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
corpus=["This is the first document.",
       "This is the second document.",
       "Third document. Document number three",
       "Number four. To repeat, number four"]

In [3]:
vectorizer=CountVectorizer()

In [4]:
bag_of_words=vectorizer.fit_transform(corpus)

In [5]:
print(bag_of_words)

  (0, 0)	1
  (0, 1)	1
  (0, 7)	1
  (0, 3)	1
  (0, 9)	1
  (1, 6)	1
  (1, 0)	1
  (1, 7)	1
  (1, 3)	1
  (1, 9)	1
  (2, 10)	1
  (2, 4)	1
  (2, 8)	1
  (2, 0)	2
  (3, 5)	1
  (3, 11)	1
  (3, 2)	2
  (3, 4)	2

In [6]:
vectorizer.vocabulary_.get("document")

0

In [8]:
vectorizer.vocabulary_

{'document': 0,
 'first': 1,
 'four': 2,
 'is': 3,
 'number': 4,
 'repeat': 5,
 'second': 6,
 'the': 7,
 'third': 8,
 'this': 9,
 'three': 10,
 'to': 11}

In [9]:
import pandas as pd

In [10]:
pd.DataFrame(bag_of_words.toarray(),columns=vectorizer.get_feature_names())

,document,first,four,is,number,repeat,second,the,third,this,three,to
0,1,1,0,1,0,0,0,1,0,1,0,0
1,1,0,0,1,0,0,1,1,0,1,0,0
2,2,0,0,0,1,0,0,0,1,0,1,0
3,0,0,2,0,2,1,0,0,0,0,0,1

In [14]:
vectorizer=TfidfVectorizer()

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [16]:
bag_of_words=vectorizer.fit_transform(corpus)

In [18]:
from sklearn.feature_extraction.text import HashingVectorizer

In [19]:
vectorizer=HashingVectorizer(n_features=8)

In [20]:
feature_vector=vectorizer.fit_transform(corpus)

In [21]:
print(feature_vector)

  (0, 0)	-0.8944271909999159
  (0, 5)	0.4472135954999579
  (0, 6)	0.0
  (1, 0)	-0.5773502691896258
  (1, 3)	0.5773502691896258
  (1, 5)	0.5773502691896258
  (1, 6)	0.0
  (2, 0)	-0.7559289460184544
  (2, 3)	0.3779644730092272
  (2, 5)	0.3779644730092272
  (2, 7)	0.3779644730092272
  (3, 0)	0.31622776601683794
  (3, 3)	0.31622776601683794
  (3, 5)	0.6324555320336759
  (3, 7)	0.6324555320336759